<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xmlns:int-ws="http://www.springframework.org/schema/integration/ws"
	xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http.xsd
http://www.springframework.org/schema/integration/ws http://www.springframework.org/schema/integration/ws/spring-integration-ws.xsd
http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/integration/xml http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd">
	<!-- Simple Service -->
	<int:gateway id="simpleGateway"
		service-interface="foo.TempConverter"
		default-request-channel="simpleExpression" />
	<int:service-activator id="expressionConverter"
		input-channel="simpleExpression" expression="(payload - 32) / 9 * 5" />
	<!-- Web Service -->
	<int:gateway id="wsGateway"
		service-interface="foo.TempConverter"
		default-request-channel="viaWebService" />
	<int:chain id="wsChain" input-channel="viaWebService">
		<int:transformer
			expression="'FahrenheitToCelsius xmlns=''http://www.w3schools.com/webservices/''FahrenheitXXX/Fahrenheit/FahrenheitToCelsius'.replace('XXX', payload.toString())" />
		<int-ws:header-enricher>
			<int-ws:soap-action
				value="http://www.w3schools.com/webservices/FahrenheitToCelsius" />
		</int-ws:header-enricher>
		<int-ws:outbound-gateway
			uri="http://www.w3schools.com/webservices/tempconvert.asmx" />
		<int-xml:xpath-transformer
			xpath-expression="/*[local-name()='FahrenheitToCelsiusResponse']/*[local-name()='FahrenheitToCelsiusResult']" />
	</int:chain>
</beans>